<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" th:href="@{/img/favicon.png}" type="image/png" />
    <title>Login - ModuDeal</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/vendors/linericon/style.css}" />
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" />
    <link rel="stylesheet" th:href="@{/css/themify-icons.css}" />
    <link rel="stylesheet" th:href="@{/css/flaticon.css}" />
    <link rel="stylesheet" th:href="@{/vendors/owl-carousel/owl.carousel.min.css}" />
    <link rel="stylesheet" th:href="@{/vendors/lightbox/simpleLightbox.css}" />
    <link rel="stylesheet" th:href="@{/vendors/nice-select/css/nice-select.css}" />
    <link rel="stylesheet" th:href="@{/vendors/animate-css/animate.css}" />
    <link rel="stylesheet" th:href="@{/vendors/jquery-ui/jquery-ui.css}" />
    <!-- main css -->
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/responsive.css}" />
</head>

<body>
    <!--================Header Menu Area =================-->
    <header class="header_area">
        <div class="main_menu">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light w-100">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" th:href="@{/}">
                        <img src="/img/logo.png" alt="" />
                    </a>
                </nav>
            </div>
        </div>
    </header>
    <!--================Header Menu Area =================-->


    <!--================ Feature Product Area =================-->
    <section class="feature_product_area section_gap_bottom_custom">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="main_title">
                        <h2>로그인</h2>
                    </div>
                    <div class="login-container">
                        <div class="login-form">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="userId" name="userId" placeholder="ID를 입력하세요." required>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="password" name="password" placeholder="PW를 입력하세요." required>
                                    <span id="failMsg"></span>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn submit_btn" id="loginBtn">Login</button>
                                    <div class="creat_account">
                                        <input type="checkbox" id="f-option" name="selector">
                                        <label for="f-option">Remember me</label>
                                    </div>
                                    <a class="lost_pass" th:href="@{/forgot}">아이디 / 비밀번호 찾기</a>
                                    <a class="lost_pass" th:href="@{/moduDeal/register}">회원가입</a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Feature Product Area =================-->

    <!--================ start footer Area  =================-->
    <footer class="footer-area section_gap">
        <div class="container">
            <div class="footer-bottom row align-items-center">
                <p class="footer-text m-0 col-lg-8 col-md-12">Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a th:href="@{https://colorlib.com}" target="_blank">Colorlib</a></p>
                <div class="col-lg-4 col-md-12 footer-social">
                    <a th:href="@{#}"><i class="fa fa-facebook"></i></a>
                    <a th:href="@{#}"><i class="fa fa-twitter"></i></a>
                    <a th:href="@{#}"><i class="fa fa-dribbble"></i></a>
                    <a th:href="@{#}"><i class="fa fa-behance"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <!--================ End footer Area  =================-->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script th:src="@{/js/jquery-3.6.1.min.js}"></script>
    <script>

        $(function () {

            $("#loginBtn").click(function () {

                let signInData = {
                    "userId": $("[name='userId']").val(),
                    "password": $("[name='password']").val()
                }

                $.ajax({
                    url: "/moduDeal/login",
                    type: "post",
                    contentType: "application/json",
                    data: JSON.stringify(signInData),
                    success: function (isValidMember) {

                        if (isValidMember == "y") {
                            location.href = "/";
                        } else {
                            $("#failMsg").html("<span style='color:red;'>아이디와 패스워드를 확인하세요.</span>");
                        }

                    }
                });

            });

        });


    </script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</body>

</html>
